<div class="sidebar">

  <!-- LOGO -->
  <div>

    <ul class="sidebar-menu">

      <li class="side-bar-item">
        <a href="../pages/dashboard.html">
          <span class="menu-icon">📊︎</span>
          Dashboard
        </a>
      </li>

      <li class="side-bar-item">
        <a href="../pages/resident.html">
          <span class="menu-icon">👥︎</span>
          Residents
        </a>
      </li>

      <li class="side-bar-item">
        <a href="../pages/staff.html">
          <span class="menu-icon">👨︎</span>
          Staff
        </a>
      </li>

      <li class="side-bar-item">
        <a href="../pages/apartments.html">
          <span class="menu-icon">🏢︎</span>
          Flats / Apartments
        </a>
      </li>

      <li class="side-bar-item">
        <a href="../pages/bills.html">
          <span class="menu-icon">💳︎</span>
          Bills
        </a>
      </li>

      <li class="side-bar-item">
        <a href="../pages/complaints.html">
          <span class="menu-icon">⚠︎</span>
          Complaints
        </a>
      </li>

      <li class="side-bar-item">
        <a href="../pages/notices.html">
          <span class="menu-icon">📢︎</span>
          Notices
        </a>
      </li>

      <li class="side-bar-item">
        <a href="#">
          <span class="menu-icon">🚗︎</span>
          Parking
        </a>
      </li>

    </ul>

    <!-- SIGN OUT -->
    <div class="sidebar-logout">

      <a href="#">

        <span class="menu-icon">🚪︎</span>

        Sign Out

      </a>

    </div>

  </div>

</div>